<mat-drawer-container class="agenda-container" [hasBackdrop]="hasBackdrop">

  <mat-drawer-content class="calendar-content-wrapper">
    <div class="calendar-wrapper">
      <div class="agenda-header">
        <div class="header-left">
          <button mat-icon-button class="arrow-nav" (click)="decrementView()">
            <mat-icon>chevron_left</mat-icon>
          </button>

          <div class="datepicker-trigger-container">
            <button mat-icon-button class="nav-button" (click)="picker.open()">
              <mat-icon>calendar_today</mat-icon>
            </button>
            <input matInput [matDatepicker]="picker" [(ngModel)]="viewDate"
                   (dateChange)="onDatePicked($event.value)" class="hidden-input" #dateInput>
            <mat-datepicker #picker [touchUi]="false"></mat-datepicker>
          </div>

          <button mat-icon-button class="arrow-nav" (click)="incrementView()">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button mat-stroked-button class="today-button" (click)="goToToday()">Hoy</button>

          <div class="date-range">
            <span class="range-text">{{ getRangeLabel() }}</span>
          </div>
        </div>

        <div class="header-right">
          <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusFilterChange()">
              <mat-option *ngFor="let status of statusOptions" [value]="status.value">{{ status.label }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-button-toggle-group [value]="view" (change)="changeView($event.value)"
                                   [hideSingleSelectionIndicator]="true" class="view-toggle-group">
            <mat-button-toggle [value]="CalendarView.Week">S</mat-button-toggle>
            <mat-button-toggle [value]="CalendarView.Day">D</mat-button-toggle>
            <mat-button-toggle [value]="CalendarView.Month">M</mat-button-toggle>
          </mat-button-toggle-group>

          <button mat-icon-button class="settings-button"><mat-icon>filter_list</mat-icon></button>
          <button mat-icon-button class="settings-button"><mat-icon>more_vert</mat-icon></button>

          <button mat-icon-button (click)="isSidebarVisible = !isSidebarVisible" class="settings-button">
            <mat-icon>{{ isSidebarVisible ? 'last_page' : 'first_page' }}</mat-icon>
          </button>
        </div>
      </div>

      <ng-template #eventTemplate let-weekEvent="weekEvent">
        <div class="custom-event-card"
             [style.border-left-color]="getStatusColor(weekEvent.event.meta.appointment.estado)"
             (click)="handleEventClick(weekEvent.event)">
          <div class="event-title"><strong>{{ weekEvent.event.title }}</strong></div>
          <div class="event-subtitle">{{ weekEvent.event.meta.appointment.motivo }}</div>
        </div>
      </ng-template>

      <div [ngSwitch]="view" class="calendar-view-container">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [locale]="'es'" [refresh]="refresh" (eventClicked)="handleEventClick($event.event)"></mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [locale]="'es'" [refresh]="refresh" [dayStartHour]="8" [dayEndHour]="20" [eventTemplate]="eventTemplate" (eventClicked)="handleEventClick($event.event)"></mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [locale]="'es'" [refresh]="refresh" [hourSegments]="2" [dayStartHour]="8" [dayEndHour]="20" (eventClicked)="handleEventClick($event.event)"></mwl-calendar-day-view>
      </div>
    </div>
  </mat-drawer-content>

  <mat-drawer #drawer position="end" [mode]="drawerMode" [opened]="isSidebarVisible" (closedStart)="isSidebarVisible = false" class="doctors-sidebar-drawer">

    <div class="doctors-sidebar">
      <div class="sidebar-header">
        <mat-icon class="sidebar-icon">filter_list</mat-icon>
        <span>Todas las agendas</span>
      </div>

      <div class="doctors-list">
        <div *ngFor="let doctor of doctors"
             class="doctor-item"
             [class.active]="selectedDoctors.includes(doctor.id)"
             (click)="toggleDoctorFilter(doctor.id)">

          <div class="doctor-avatar" [style.background-color]="getDoctorColor(doctor.id)">
            <mat-icon>person</mat-icon>
          </div>

          <div class="doctor-info">
            <span class="doctor-name">{{ doctor.firstName }} {{ doctor.lastName }}</span>
          </div>

          <button mat-icon-button class="doctor-menu-button" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>

        <button mat-button class="add-doctor-button" (click)="redirectToUser()">
          <mat-icon>add</mat-icon> Agregar
        </button>
      </div>
    </div>

  </mat-drawer>

</mat-drawer-container>
