.layout {
  height: 100vh;
  width: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  background-color: #f1f9fc;
}

mat-sidenav-content > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

mat-sidenav {
  width: 260px;
  background-color: white;
  border-right: 1px solid #e0e0e0;
}