<div class="dialog-container">
  <div class="patient-header">
    <div class="header-layout">
      <div class="avatar-column">
        <div class="patient-avatar-placeholder">
          <mat-icon>person</mat-icon>
        </div>
      </div>

      <div class="info-column">
        <div class="info-row top-row">
          <div class="name-group">
            <h2 class="patient-name">{{ patient?.firstName }}, {{ patient?.lastNamePaternal + " " + patient?.lastNameMaternal }}</h2>
            <button mat-flat-button class="btn-open-history">
              Abrir historia <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
          <button class="btn-close-dialog" mat-dialog-close><mat-icon>close</mat-icon></button>

        </div>

        <div class="info-row middle-row">
          <div class="phone-display">
            <mat-icon>phone_enabled</mat-icon>
            <span>{{ patient?.phonePrefix +" "+ patient?.phoneNumber }}</span>
          </div>
        </div>

        <div class="info-row bottom-row">
          <div class="tags-wrapper">
            <span class="tag-pill impuntual">Impuntual <mat-icon>close</mat-icon></span>
            <span class="tag-pill star-pill">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="close">close</mat-icon>
            </span>
            <button class="add-tag-inline">
              <mat-icon>add_circle_outline</mat-icon> Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dialog-body">
    <div class="note-section-container">
      <label class="section-label">Nota general</label>
      <mat-form-field appearance="outline" class="note-full-width" subscriptSizing="dynamic">
    <textarea
      matInput
      rows="4"
      placeholder="Escribe aquí..."
      > </textarea>
      </mat-form-field>
    </div>

    <mat-tab-group class="custom-tabs-styled">
      <mat-tab label="Citas">
        <div class="table-responsive">
          <table class="patient-table">
            <thead>
            <tr>
              <th>Fecha</th>
              <th>Doctor</th>
              <th>Especialidad</th>
              <th>Estado</th>
              <th>Motivo</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let app of patientAppointments">
              <td>{{ formatDate(app.date) }} | {{ app.startTime }}h</td>
              <td>{{ app.doctor?.firstName }}</td>
              <td>{{ app.specialty }}</td>
              <td>
                  <span class="status-indicator" [ngClass]="app.status.toLowerCase()">
                    <mat-icon *ngIf="app.status === 'CANCELADA'">cancel</mat-icon>
                    <mat-icon *ngIf="app.status === 'CONFIRMADA'">check_circle</mat-icon>
                    {{ getStatusLabel(app.status) }}
                  </span>
              </td>
              <td>{{ app.reason }}</td>
            </tr>
            </tbody>
          </table>
          <div class="pagination-footer">
            <span>{{ patientAppointments.length }} resultados</span>
            <div class="arrows">
              <mat-icon>chevron_left</mat-icon>
              <mat-icon>chevron_right</mat-icon>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Filiación">
        <div class="filiacion-form">
          <div class="form-grid">
            <div class="form-group">
              <label>Teléfono:</label>
              <div class="form-value">{{ patient?.phonePrefix }} {{ patient?.phoneNumber }}</div>
            </div>
            <div class="form-group">
              <label>E-mail:</label>
              <div class="form-value">{{ patient?.email || '-' }}</div>
            </div>

            <div class="form-group">
              <label>Grupo Sanguíneo:</label>
              <mat-form-field appearance="outline">
                <mat-select
                  [(ngModel)]="patient!.bloodGroup"
                  placeholder="Seleccione un tipo">
                  <mat-option *ngFor="let group of bloodGroups" [value]="group">
                    {{ group }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-actions">
            <button
              mat-flat-button
              class="btn-save"
              (click)="saveChanges()"
              [disabled]="isLoading">
              <mat-icon *ngIf="isLoading">
                <mat-spinner diameter="18"></mat-spinner>
              </mat-icon>
              {{ isLoading ? 'Guardando...' : 'Guardar cambios' }}
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
